# Кредитный скоринг

В этом ноутбуке мы разберем некоторые темы feature engineering на примере датасета для задачи кредитного скоринга.

Для этой задачи есть [учебное соревнование на Kaggle](https://www.kaggle.com/competitions/bank-issues-042022/leaderboard). Вы можете отправлять в него свои решения.

![bank_660x450_060220045959.jpg.webp]()

## Скачивание данных

Скачаем данные и импортируем нужные библиотеки

In [3]:
! pip install wldhx.yadisk-direct
! curl -L $(yadisk-direct https://disk.yandex.com/d/sknuSa3xoNBsDw) -o bank-issues-data.zip

Requirement already satisfied: wldhx.yadisk-direct in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.0.6)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from wldhx.yadisk-direct) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->wldhx.yadisk-direct) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->wldhx.yadisk-direct) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->wldhx.yadisk-direct) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->wldhx.yadisk-direct) (2025.8.3)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 3473k  100 3473k    0     0  8070k      0 --:--:-- --:--:-- --:--:-- 8070k

In [4]:
! unzip -qq bank-issues-data.zip

replace __MACOSX/._bank-issues-data? [y]es, [n]o, [A]ll, [N]one, [r]ename:

OSError: [Errno 5] Input/output error

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Обработка тренировочных данных

In [6]:
train_data = pd.read_csv('./bank-issues-data/train.csv')
test_data = pd.read_csv('./bank-issues-data/test.csv')

In [7]:
train_data.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,25,UNM,SPC,26389.0,10,1.32,0.584105,SCH,ОБЛ КУРСКАЯ,35000.0,2.0,0.0,1
1,2,F,37,MAR,SPC,19588.0,12,1.43,0.718935,SCH,РЕСПУБЛИКА ТАТАРСТАН,15000.0,0.0,0.0,1
2,3,F,28,UNM,SPC,53669.0,18,1.10,0.586015,GRD,МОСКВА Г,70000.0,4.0,0.0,1
3,4,M,34,MAR,SPC,26349.0,10,1.43,0.655703,SCH,СВЕРДЛОВСКАЯ ОБЛАСТЬ,42500.0,4.0,0.0,0
4,5,F,43,MAR,UMN,11589.0,10,1.10,0.271893,GRD,РЯЗАНСКАЯ ОБЛАСТЬ,20000.0,3.0,0.0,0

Поля данных:
- **client_id** — Уникальный идентификатор клиента
- **gender** — Пол
- **age** — Возраст (в годах)
- **marital_status** — Семейное положение.
    Возможные значения:
    - UNM : Холост/не замужем
    - DIV : Резведен (а)
    - MAR : Женат/замужем
    - WID : Вдовец, вдова
    - CIV : Гражданский брак
- **job_position** — Работа.
    Возможные значения:
    - SPC : Неруководящий сотрудник - специалист
    - DIR : Руководитель организации
    - HSK : Домохозяйка
    - WOI : Работает на ИП
    - WRK : Неруководящий сотрудник - рабочий
    - ATP : Неруководящий сотрудник - обслуживающий персонал
    - WRP : Работающий пенсионер
    - UMN : Руководитель подразделения
    - NOR : Не работает
    - NS : Пенсионер
    - BIS : Собственный бизнес
    - INP : Индивидуальный предприниматель
- **credit_sum** — Сумма кредита
- **credit_month** — Срок кредитования в месяцах
- **tariff_id** — Номер предлагаемого тарифа
- **education** — Тип образования.
    Возможные знаяения:
    - SCH : Начальное, среднее
    - PGR : Второе высшее
    - GRD : Высшее
    - UGR : Неполное высшее
    - ACD : Ученая степень
- **living_region** — Регион проживания
- **monthly_income** — Зарплата в месяц
- **credit_count** — Количество кредитов у клиента
- **overdue_credit_count** — Количество просроченных кредитов клиента
- **open_account_flag** — Целевая переменная -- выберет клиент наш банк или нет

Отделим целевую переменную от признаков:

In [8]:
y_train = train_data['open_account_flg']
train_data = train_data.drop(columns=['open_account_flg'])

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119518 entries, 0 to 119517
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             119518 non-null  int64
 1   gender                119518 non-null  object
 2   age                   119518 non-null  int64
 3   marital_status        119518 non-null  object
 4   job_position          119518 non-null  object
 5   credit_sum            119518 non-null  float64
 6   credit_month          119518 non-null  int64
 7   tariff_id             119518 non-null  float64
 8   score_shk             119518 non-null  float64
 9   education             119518 non-null  object
 10  living_region         119385 non-null  object
 11  monthly_income        119518 non-null  float64
 12  credit_count          113032 non-null  float64
 13  overdue_credit_count  113032 non-null  float64
dtypes: float64(6), int64(3), object(5)
memory usage: 12.8+ MB

### Заполнение пропусков

Еще раз выведем то, как выглядят тренировочные данные для удобства

In [10]:
train_data.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count
0,1,M,25,UNM,SPC,26389.0,10,1.32,0.584105,SCH,ОБЛ КУРСКАЯ,35000.0,2.0,0.0
1,2,F,37,MAR,SPC,19588.0,12,1.43,0.718935,SCH,РЕСПУБЛИКА ТАТАРСТАН,15000.0,0.0,0.0
2,3,F,28,UNM,SPC,53669.0,18,1.10,0.586015,GRD,МОСКВА Г,70000.0,4.0,0.0
3,4,M,34,MAR,SPC,26349.0,10,1.43,0.655703,SCH,СВЕРДЛОВСКАЯ ОБЛАСТЬ,42500.0,4.0,0.0
4,5,F,43,MAR,UMN,11589.0,10,1.10,0.271893,GRD,РЯЗАНСКАЯ ОБЛАСТЬ,20000.0,3.0,0.0

Посмотрим, в каких колонках есть пропуски в тренировочных данных

In [11]:
train_data.isna().any()

client_id               False
gender                  False
age                     False
marital_status          False
job_position            False
credit_sum              False
credit_month            False
tariff_id               False
score_shk               False
education               False
living_region            True
monthly_income          False
credit_count             True
overdue_credit_count     True
dtype: bool

Посмотрим также, какие пропуски есть в тестовых данных:

In [12]:
test_data.isna().any()

client_id               False
gender                  False
age                     False
marital_status          False
job_position            False
credit_sum              False
credit_month            False
tariff_id               False
score_shk               False
education               False
living_region            True
monthly_income           True
credit_count             True
overdue_credit_count     True
dtype: bool

Видим, что в тестовой части есть пропуски в колонке monthly_income, а в тренировочной части в ней пропусков нет. Нам нужно будет понять, как мы будем заполнять пропуски в этой колонке.

**Внимание**: важно помнить, что иногда в данных бывают пропуски, которые pandas не ловит. Например, когда пропуск в категориальной колонке "job_position", и выражается он тем, что вместо значения стоит пустая строка '' или пробел ' '. Такое pandas не отловит.

**Как можно заполнять пропуски в колонках?**

#### Варианты заполнения пропусков

- Заполнить пропуски некоторой статистикой по данным (среднее/медиана/0/...). Поможет [SimpleImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer) из Sklearn;

    **Вопрос**: почему медиана предпочтительнее среднего?

- Использовать более сложные стратегии. Например, [IterativeImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impute.IterativeImputer) или  [KNNImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html);

- Добавить значение "пропуск" на место пропусков. Поможет [MissingIndicator](https://scikit-learn.org/stable/modules/generated/sklearn.impute.MissingIndicator.html#sklearn.impute.MissingIndicator) из Sklearn;
- А иногда вообще бывает так, что из тренировочных данных лучше удалить строки, где много пропусков. Логика такая: если об объекте известно мало, то полезной информации для модели этот объект не несет. Обратите внимание, что из тестовых данных никакие строки удалять нельзя!
- Вообще удалить признак с пропусками. Может быть логично, если пропусков слишком много;

#### Заполнение пропусков в наших данных

Посмотрим, сколько пропущенных значений в колонках credit_count и overdue_credit_count:

In [13]:
train_data['credit_count'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 119518 entries, 0 to 119517
Series name: credit_count
Non-Null Count   Dtype
--------------   -----
113032 non-null  float64
dtypes: float64(1)
memory usage: 933.9 KB

In [14]:
np.unique(train_data['credit_count'], return_counts=True)

(array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., nan]),
 array([18219, 31714, 25799, 16707,  9826,  5285,  2760,  1345,   707,
          326,   141,    90,    56,    25,    12,    10,     2,     4,
            1,     3,  6486]))

Заполним пропуск в credit_count медианой:

In [15]:
# заполнение пропусков статистикой вручную

# median_value_credit_count = np.median(train_data['credit_count'].dropna())
# train_data['credit_count'].fillna(median_value_credit_count)

In [16]:
from sklearn.impute import SimpleImputer

simple_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
simple_imputer.fit(train_data[['credit_count']])
train_data['credit_count'] = simple_imputer.transform(train_data[['credit_count']])

In [17]:
train_data['credit_count'].isna().any()

np.False_

Заполним пропуск в overdue_credit_count с помощью KNNImputer:

In [18]:
train_data['job_position'].dtype

dtype('O')

dtype('O') означает object. Вычислим все числовые колонки (int, float), к ним можно применить knn_imputer

In [19]:
numeric_columns = [column for column in train_data.columns if train_data[column].dtype != 'O']
numeric_columns

['client_id',
 'age',
 'credit_sum',
 'credit_month',
 'tariff_id',
 'score_shk',
 'monthly_income',
 'credit_count',
 'overdue_credit_count']

In [20]:
numeric_columns.remove("tariff_id")

In [21]:
len(numeric_columns)

8

In [22]:
from sklearn.impute import KNNImputer

knn_imputer = KNNImputer(n_neighbors=2)
knn_imputer.fit(train_data[numeric_columns])
transformed_overdue_credit_count = knn_imputer.transform(train_data[numeric_columns])
train_data['overdue_credit_count'] = transformed_overdue_credit_count

In [23]:
train_data['overdue_credit_count'].isna().any()

np.False_

TODO: заполнить пропуски в оставшихся признаках

### Обработка категориальных признаков

In [24]:
train_data.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count
0,1,M,25,UNM,SPC,26389.0,10,1.32,0.584105,SCH,ОБЛ КУРСКАЯ,35000.0,2.0,1.0
1,2,F,37,MAR,SPC,19588.0,12,1.43,0.718935,SCH,РЕСПУБЛИКА ТАТАРСТАН,15000.0,0.0,2.0
2,3,F,28,UNM,SPC,53669.0,18,1.10,0.586015,GRD,МОСКВА Г,70000.0,4.0,3.0
3,4,M,34,MAR,SPC,26349.0,10,1.43,0.655703,SCH,СВЕРДЛОВСКАЯ ОБЛАСТЬ,42500.0,4.0,4.0
4,5,F,43,MAR,UMN,11589.0,10,1.10,0.271893,GRD,РЯЗАНСКАЯ ОБЛАСТЬ,20000.0,3.0,5.0

In [25]:
categorical_columns = [column for column in train_data.columns if train_data[column].dtype == 'O']
categorical_columns

['gender', 'marital_status', 'job_position', 'education', 'living_region']

In [26]:
categorical_columns = categorical_columns + ['tariff_id']

In [27]:
categorical_columns = [x for x in categorical_columns if x != 'living_region']

In [28]:
np.unique(train_data['marital_status'])

array(['CIV', 'DIV', 'MAR', 'UNM', 'WID'], dtype=object)

#### One-hot кодирование

In [29]:
dummy_features = pd.get_dummies(train_data['marital_status'])
dummy_features.head()

     CIV    DIV    MAR    UNM    WID
0  False  False  False   True  False
1  False  False   True  False  False
2  False  False  False   True  False
3  False  False   True  False  False
4  False  False   True  False  False

One-hot кодирование с помощью OneHotEncoder из Sklearn

In [30]:
categorical_columns

['gender', 'marital_status', 'job_position', 'education', 'tariff_id']

In [31]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='if_binary', sparse_output=False) #drop='if_binary' - для бинарного признака удаляем одну колонку
ohe.fit(train_data[categorical_columns])
new_category_columns = ohe.transform(train_data[categorical_columns])

In [32]:
new_category_columns

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]], shape=(119518, 59))

In [33]:
ohe.get_feature_names_out()

array(['gender_M', 'marital_status_CIV', 'marital_status_DIV',
       'marital_status_MAR', 'marital_status_UNM', 'marital_status_WID',
       'job_position_ATP', 'job_position_BIS', 'job_position_BIU',
       'job_position_DIR', 'job_position_HSK', 'job_position_INP',
       'job_position_NOR', 'job_position_PNA', 'job_position_PNI',
       'job_position_PNS', 'job_position_PNV', 'job_position_SPC',
       'job_position_UMN', 'job_position_WOI', 'job_position_WRK',
       'job_position_WRP', 'education_ACD', 'education_GRD',
       'education_PGR', 'education_SCH', 'education_UGR', 'tariff_id_1.0',
       'tariff_id_1.1', 'tariff_id_1.16', 'tariff_id_1.17',
       'tariff_id_1.18', 'tariff_id_1.19', 'tariff_id_1.2',
       'tariff_id_1.21', 'tariff_id_1.22', 'tariff_id_1.23',
       'tariff_id_1.24', 'tariff_id_1.25', 'tariff_id_1.26',
       'tariff_id_1.27', 'tariff_id_1.28', 'tariff_id_1.29',
       'tariff_id_1.3', 'tariff_id_1.32', 'tariff_id_1.4',
       'tariff_id_1.41', 'tariff_id_1.43', 'tariff_id_1.44',
       'tariff_id_1.48', 'tariff_id_1.5', 'tariff_id_1.52',
       'tariff_id_1.56', 'tariff_id_1.6', 'tariff_id_1.7',
       'tariff_id_1.9', 'tariff_id_1.91', 'tariff_id_1.94',
       'tariff_id_1.96'], dtype=object)

In [34]:
new_train_columns = pd.DataFrame(new_category_columns, columns=ohe.get_feature_names_out())
train_data = train_data.drop(columns=categorical_columns)
train_data = pd.concat([train_data, new_train_columns], axis=1)
train_data.head()

,client_id,age,credit_sum,credit_month,score_shk,living_region,monthly_income,credit_count,overdue_credit_count,gender_M,...,tariff_id_1.48,tariff_id_1.5,tariff_id_1.52,tariff_id_1.56,tariff_id_1.6,tariff_id_1.7,tariff_id_1.9,tariff_id_1.91,tariff_id_1.94,tariff_id_1.96
0,1,25,26389.0,10,0.584105,ОБЛ КУРСКАЯ,35000.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,37,19588.0,12,0.718935,РЕСПУБЛИКА ТАТАРСТАН,15000.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,28,53669.0,18,0.586015,МОСКВА Г,70000.0,4.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,34,26349.0,10,0.655703,СВЕРДЛОВСКАЯ ОБЛАСТЬ,42500.0,4.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,43,11589.0,10,0.271893,РЯЗАНСКАЯ ОБЛАСТЬ,20000.0,3.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Что делать если в тестовых данных появилась новая категория, которой не было в тренировочных данных?

Модель может работать только на тех категориях на которых она обучалась, придется поставить везде нули при кодировании one-hot

#### Обработка living_region

In [ ]:
np.unique(train_data['living_region'].dropna(), return_counts=True)

(array(['74', '98', 'АДЫГЕЯ РЕСП', 'АЛТАЙСКИЙ', 'АЛТАЙСКИЙ КРАЙ',
        'АМУРСКАЯ ОБЛ', 'АМУРСКАЯ ОБЛАСТЬ', 'АО НЕНЕЦКИЙ',
        'АО ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - Ю', 'АО ЯМАЛО-НЕНЕЦКИЙ',
        'АОБЛ ЕВРЕЙСКАЯ', 'АРХАНГЕЛЬСКАЯ', 'АРХАНГЕЛЬСКАЯ ОБЛ',
        'АРХАНГЕЛЬСКАЯ ОБЛАСТЬ', 'АСТРАХАНСКАЯ', 'АСТРАХАНСКАЯ ОБЛ',
        'АСТРАХАНСКАЯ ОБЛАСТЬ', 'БАШКОРТОСТАН', 'БАШКОРТОСТАН РЕСП',
        'БЕЛГОРОДСКАЯ ОБЛ', 'БЕЛГОРОДСКАЯ ОБЛАСТЬ', 'БРЯНСКАЯ ОБЛ',
        'БРЯНСКАЯ ОБЛАСТЬ', 'БРЯНСКИЙ', 'БУРЯТИЯ', 'БУРЯТИЯ РЕСП',
        'ВЛАДИМИРСКАЯ ОБЛ', 'ВЛАДИМИРСКАЯ ОБЛАСТЬ', 'ВОЛГОГРАДСКАЯ ОБЛ',
        'ВОЛГОГРАДСКАЯ ОБЛАСТЬ', 'ВОЛОГОДСКАЯ', 'ВОЛОГОДСКАЯ ОБЛ',
        'ВОЛОГОДСКАЯ ОБЛ.', 'ВОЛОГОДСКАЯ ОБЛАСТЬ', 'ВОРОНЕЖСКАЯ ОБЛ',
        'ВОРОНЕЖСКАЯ ОБЛАСТЬ', 'Г МОСКВА', 'Г. МОСКВА',
        'Г. САНКТ-ПЕТЕРБУРГ', 'Г.МОСКВА', 'ГОРЬКОВСКАЯ ОБЛ',
        'ГУСЬ-ХРУСТАЛЬНЫЙ Р-Н', 'ДАГЕСТАН РЕСП', 'ЕВРЕЙСКАЯ АВТОНОМНАЯ',
        'ЕВРЕЙСКАЯ АОБЛ', 'ЗАБАЙКАЛЬСКИЙ КРАЙ', 'ИВАНОВСКАЯ ОБЛ',
        'ИВАНОВСКАЯ ОБЛАСТЬ', 'ИНГУШЕТИЯ РЕСП', 'ИРКУТСКАЯ ОБЛ',
        'ИРКУТСКАЯ ОБЛАСТЬ', 'КАБАРДИНО-БАЛКАРСКАЯ',
        'КАБАРДИНО-БАЛКАРСКАЯ РЕСП', 'КАЛИНИНГРАДСКАЯ ОБЛ',
        'КАЛИНИНГРАДСКАЯ ОБЛ.', 'КАЛМЫКИЯ', 'КАЛМЫКИЯ РЕСП', 'КАЛУЖСКАЯ',
        'КАЛУЖСКАЯ ОБЛ', 'КАЛУЖСКАЯ ОБЛАСТЬ', 'КАМЧАТСКАЯ ОБЛАСТЬ',
        'КАМЧАТСКИЙ КРАЙ', 'КАРАЧАЕВО-ЧЕРКЕССКАЯ РЕСП', 'КАРЕЛИЯ',
        'КАРЕЛИЯ РЕСП', 'КЕМЕРОВСКАЯ ОБЛ', 'КЕМЕРОВСКАЯ ОБЛАСТЬ',
        'КИРОВСКАЯ ОБЛ', 'КИРОВСКАЯ ОБЛАСТЬ', 'КОМИ', 'КОМИ РЕСП',
        'КОСТРОМСКАЯ ОБЛ', 'КОСТРОМСКАЯ ОБЛАСТЬ', 'КРАЙ АЛТАЙСКИЙ',
        'КРАЙ ЗАБАЙКАЛЬСКИЙ', 'КРАЙ КАМЧАТСКИЙ', 'КРАЙ КРАСНОДАРСКИЙ',
        'КРАЙ КРАСНОЯРСКИЙ', 'КРАЙ ПЕРМСКИЙ', 'КРАЙ ПРИМОРСКИЙ',
        'КРАЙ СТАВРОПОЛЬСКИЙ', 'КРАЙ ХАБАРОВСКИЙ', 'КРАЙ. КРАСНОЯРСКИЙ',
        'КРАЙ. ПЕРМСКИЙ', 'КРАЙ. СТАВРОПОЛЬСКИЙ', 'КРАСНОДАРСКИЙ',
        'КРАСНОДАРСКИЙ КРАЙ', 'КРАСНОЯРСКИЙ КРАЙ', 'КУРГАНСКАЯ ОБЛ',
        'КУРГАНСКАЯ ОБЛАСТЬ', 'КУРСКАЯ ОБЛ', 'КУРСКАЯ ОБЛАСТЬ',
        'ЛЕНИНГРАДСКАЯ', 'ЛЕНИНГРАДСКАЯ ОБЛ', 'ЛЕНИНГРАДСКАЯ ОБЛАСТЬ',
        'ЛИПЕЦКАЯ ОБЛ', 'ЛИПЕЦКАЯ ОБЛАСТЬ', 'МАГАДАНСКАЯ ОБЛАСТЬ',
        'МАРИЙ ЭЛ РЕСП', 'МОРДОВИЯ РЕСП', 'МОСКВА', 'МОСКВА Г',
        'МОСКОВСКАЯ', 'МОСКОВСКАЯ ОБЛ', 'МОСКОВСКАЯ ОБЛАСТЬ',
        'МУРМАНСКАЯ ОБЛ', 'МУРМАНСКАЯ ОБЛАСТЬ', 'МЫТИЩИНСКИЙ Р-Н',
        'НЕНЕЦКИЙ АО', 'НИЖЕГОРОДСКАЯ ОБЛ', 'НИЖЕГОРОДСКАЯ ОБЛАСТЬ',
        'НОВГОРОДСКАЯ ОБЛ', 'НОВГОРОДСКАЯ ОБЛАСТЬ', 'НОВОСИБИРСКАЯ',
        'НОВОСИБИРСКАЯ ОБЛ', 'НОВОСИБИРСКАЯ ОБЛАСТЬ', 'ОБЛ АМУРСКАЯ',
        'ОБЛ АРХАНГЕЛЬСКАЯ', 'ОБЛ АСТРАХАНСКАЯ', 'ОБЛ БЕЛГОРОДСКАЯ',
        'ОБЛ БРЯНСКАЯ', 'ОБЛ ВЛАДИМИРСКАЯ', 'ОБЛ ВОЛГОГРАДСКАЯ',
        'ОБЛ ВОЛОГОДСКАЯ', 'ОБЛ ВОРОНЕЖСКАЯ', 'ОБЛ ИВАНОВСКАЯ',
        'ОБЛ ИРКУТСКАЯ', 'ОБЛ КАЛИНИНГРАДСКАЯ', 'ОБЛ КАЛУЖСКАЯ',
        'ОБЛ КЕМЕРОВСКАЯ', 'ОБЛ КИРОВСКАЯ', 'ОБЛ КОСТРОМСКАЯ',
        'ОБЛ КУРГАНСКАЯ', 'ОБЛ КУРСКАЯ', 'ОБЛ ЛЕНИНГРАДСКАЯ',
        'ОБЛ ЛИПЕЦКАЯ', 'ОБЛ МАГАДАНСКАЯ', 'ОБЛ МОСКОВСКАЯ',
        'ОБЛ МУРМАНСКАЯ', 'ОБЛ НИЖЕГОРОДСКАЯ', 'ОБЛ НОВГОРОДСКАЯ',
        'ОБЛ НОВОСИБИРСКАЯ', 'ОБЛ ОМСКАЯ', 'ОБЛ ОРЕНБУРГСКАЯ',
        'ОБЛ ОРЛОВСКАЯ', 'ОБЛ ПЕНЗЕНСКАЯ', 'ОБЛ ПСКОВСКАЯ',
        'ОБЛ РОСТОВСКАЯ', 'ОБЛ РЯЗАНСКАЯ', 'ОБЛ САМАРСКАЯ',
        'ОБЛ САРАТОВСКАЯ', 'ОБЛ САХАЛИНСКАЯ', 'ОБЛ СВЕРДЛОВСКАЯ',
        'ОБЛ СМОЛЕНСКАЯ', 'ОБЛ ТАМБОВСКАЯ', 'ОБЛ ТВЕРСКАЯ', 'ОБЛ ТОМСКАЯ',
        'ОБЛ ТУЛЬСКАЯ', 'ОБЛ ТЮМЕНСКАЯ', 'ОБЛ УЛЬЯНОВСКАЯ',
        'ОБЛ ЧЕЛЯБИНСКАЯ', 'ОБЛ ЯРОСЛАВСКАЯ', 'ОБЛ. ВЛАДИМИРСКАЯ',
        'ОБЛ. КУРГАНСКАЯ', 'ОБЛ. СВЕРДЛОВСКАЯ', 'ОБЛ.НИЖЕГОРОДСКАЯ',
        'ОБЛ.РОСТОВСКАЯ', 'ОБЛ.САРАТОВСКАЯ', 'ОМСКАЯ', 'ОМСКАЯ ОБЛ',
        'ОМСКАЯ ОБЛАСТЬ', 'ОРЁЛ', 'ОРЕНБУРГСКАЯ ОБЛ',
        'ОРЕНБУРГСКАЯ ОБЛАСТЬ', 'ОРЛОВСКАЯ ОБЛ', 'ОРЛОВСКАЯ ОБЛАСТЬ',
        'ПЕНЗЕНСКАЯ ОБЛ', 'ПЕНЗЕНСКАЯ ОБЛАСТЬ', 'ПЕРМСКАЯ ОБЛ', 'ПЕРМСКИЙ',
        'ПЕРМСКИЙ КРАЙ', 'ПРИВОЛЖСКИЙ ФЕДЕРАЛЬНЫЙ ОКРУГ',
        'ПРИМОРСКИЙ КРАЙ', 'ПСКОВСКАЯ ОБЛ', 'ПСКОВСКАЯ ОБЛАСТЬ',
        'РЕСП АДЫГЕЯ', 'РЕСП АЛТАЙ', 'РЕСП БАШКОРТОСТАН', 'РЕСП БУРЯТИЯ',
        'РЕСП ДАГЕСТАН', 'РЕСП ИНГУШЕТИЯ', 'РЕСП КАБАРДИНО-БАЛКАРСКАЯ',
        'РЕСП КАЛМЫКИЯ', 'РЕСП КАРАЧАЕВО-ЧЕРКЕССКАЯ', 'РЕСП КАРЕЛИЯ',
        'РЕСП КОМИ', 'РЕСП МАРИЙ ЭЛ', 'РЕСП МОРДОВИЯ',
        'РЕСП САХА /ЯКУТИЯ/', 'РЕСП СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ',
        'РЕСП ТАТАРСТАН', 'РЕСП ТЫВА', 'РЕСП УДМУРТСКАЯ', 'РЕСП ХАКАСИЯ',
        'РЕСП ЧЕЧЕНСКАЯ', 'РЕСП ЧУВАШСКАЯ - ЧУВАШИЯ', 'РЕСП. БАШКОРТОСТАН',
        'РЕСП. КОМИ', 'РЕСП. САХА (ЯКУТИЯ)', 'РЕСП.БАШКОРТОСТАН',
        'РЕСПУБЛИКА АДЫГЕЯ', 'РЕСПУБЛИКА АЛТАЙ', 'РЕСПУБЛИКА БУРЯТИЯ',
        'РЕСПУБЛИКА ДАГЕСТАН', 'РЕСПУБЛИКА КАЛМЫКИЯ', 'РЕСПУБЛИКА КАРЕЛИЯ',
        'РЕСПУБЛИКА КОМИ', 'РЕСПУБЛИКА МАРИЙ ЭЛ', 'РЕСПУБЛИКА МОРДОВИЯ',
        'РЕСПУБЛИКА ТАТАРСТАН', 'РЕСПУБЛИКА ТЫВА', 'РЕСПУБЛИКАТАТАРСТАН',
        'РОССИЯ', 'РОСТОВСКАЯ', 'РОСТОВСКАЯ ОБЛ', 'РОСТОВСКАЯ ОБЛАСТЬ',
        'РЯЗАНСКАЯ ОБЛ', 'РЯЗАНСКАЯ ОБЛАСТЬ', 'САМАРСКАЯ', 'САМАРСКАЯ ОБЛ',
        'САМАРСКАЯ ОБЛАСТЬ', 'САНКТ-ПЕТЕРБУРГ', 'САНКТ-ПЕТЕРБУРГ Г',
        'САРАТОВСКАЯ ОБЛ', 'САРАТОВСКАЯ ОБЛАСТЬ', 'САХА /ЯКУТИЯ/',
        'САХА /ЯКУТИЯ/ РЕСП', 'САХАЛИНСКАЯ ОБЛ', 'САХАЛИНСКАЯ ОБЛАСТЬ',
        'СВЕРДЛОВСКАЯ', 'СВЕРДЛОВСКАЯ ОБЛ', 'СВЕРДЛОВСКАЯ ОБЛАСТЬ',
        'СЕВ. ОСЕТИЯ - АЛАНИЯ', 'СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ РЕСП',
        'СМОЛЕНСКАЯ ОБЛ', 'СМОЛЕНСКАЯ ОБЛАСТЬ', 'СТАВРОПОЛЬСКИЙ',
        'СТАВРОПОЛЬСКИЙ КРАЙ', 'ТАМБОВСКАЯ ОБЛ', 'ТАМБОВСКАЯ ОБЛАСТЬ',
        'ТАТАРСТАН РЕСП', 'ТВЕРСКАЯ ОБЛ', 'ТВЕРСКАЯ ОБЛАСТЬ', 'ТОМСКАЯ',
        'ТОМСКАЯ ОБЛ', 'ТОМСКАЯ ОБЛАСТЬ', 'ТУЛЬСКАЯ ОБЛ',
        'ТУЛЬСКАЯ ОБЛАСТЬ', 'ТЫВА РЕСП', 'ТЮМЕНСКАЯ', 'ТЮМЕНСКАЯ ОБЛ',
        'ТЮМЕНСКАЯ ОБЛАСТЬ', 'УДМУРТСКАЯ РЕСП', 'УДМУРТСКАЯ РЕСПУБЛИКА',
        'УЛЬЯНОВСКАЯ ОБЛ', 'УЛЬЯНОВСКАЯ ОБЛАСТЬ', 'ХАБАРОВСКИЙ КРАЙ',
        'ХАКАСИЯ', 'ХАКАСИЯ РЕСП',
        'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА', 'ХАНТЫ-МАНСИЙСКИЙ АО',
        'ЧЕЛЯБИНСКАЯ ОБЛ', 'ЧЕЛЯБИНСКАЯ ОБЛАСТЬ', 'ЧЕЧЕНСКАЯ РЕСП',
        'ЧЕЧЕНСКАЯ РЕСПУБЛИКА', 'ЧИТИНСКАЯ ОБЛ',
        'ЧУВАШИЯ ЧУВАШСКАЯ РЕСПУБЛИКА -', 'ЧУВАШСКАЯ - ЧУВАШИЯ РЕСП',
        'ЧУВАШСКАЯ РЕСП', 'ЧУВАШСКАЯ РЕСПУБЛИКА',
        'ЧУВАШСКАЯ РЕСПУБЛИКА - ЧУВАШИЯ', 'ЧУКОТСКИЙ АО',
        'ЯМАЛО-НЕНЕЦКИЙ АО', 'ЯРОСЛАВСКАЯ ОБЛ', 'ЯРОСЛАВСКАЯ ОБЛАСТЬ'],
       dtype=object),
 array([   1,    1,    5,    2,    7,    9,   15,   13,  396,   94,    3,
           1,   16,    7,   18,   27,   99,   18,   99,   21,   20,    8,
           4,    1,   13,   19,   23,   15,   17,   26,   30,    6,    1,
          30,    8,    8,   13,   47,   23,    1,   16,    1,    5,    6,
         130,   46,    4,    3,    1,  101,   62,    9,   25,    8,    1,
           1,    3,    1,   11,   11,    1,    8,   12,    1,    2,   20,
          17,    5,    1,    1,   12,    3,    4,  374,  863,  271,  615,
         123,  600,   32, 1833,   43,    1,    1,    1,    7, 5176, 2087,
          20,    8,   40,   36,   15,   66,   87,    6,   10,    1,    9,
           5, 3821, 2509,    6,  266,  156,   13,    9,    1,  100,   51,
          35,   11,    3,    1,   31,    6,  580, 1204, 1756,  498,  544,
        1078, 1587, 1756, 1172,  667, 2863,  503,  773, 1993,  438,  372,
         918,  809, 2235,  582,  106, 8564,  919, 2504,  514, 1496,   64,
          83,   60,   54,  148,  157,   49, 2034,   97,   16,  899,   36,
          46,   63,   36,   54,  434,   38,  469,   36,    1,    1,    1,
           1,    1,    1,    1,  413,  185,    1,  638,  190,  313,  161,
         362,  243,   39,    1, 1930,    1,  862,  162,   98,  282,   32,
        3358,  851,   40,   16,  427,  138,  412,  387,  894,  357,  341,
          43,   33,  223,   18,   44,   99,   13,    1, 1011,    1,  358,
           1,  112,    3,  264,    4,   61,   82,  409,  130,  151, 1513,
         102,    1,    1,    2, 2111,  729,  268,  195,   23,  959,  570,
        3968, 1866, 1023,  511,    1,  880,  326,  141,    1, 2782, 1410,
          33,  195,  461,  212,    4, 1395,  451,  282, 3635,  650,  364,
           1,  232,  166,  610,  290,  276,    1,  840,  433,  516,  192,
         394,  232, 1039,    1,  238, 1575, 1038, 2047, 1093,    6,    2,
           8,   35,   53,    1,  205,  367,   21, 1249,  377,  230]))

In [139]:
places = np.unique(train_data['living_region'].dropna())
places

array(['74', '98', 'АДЫГЕЯ РЕСП', 'АЛТАЙСКИЙ', 'АЛТАЙСКИЙ КРАЙ',
       'АМУРСКАЯ ОБЛ', 'АМУРСКАЯ ОБЛАСТЬ', 'АО НЕНЕЦКИЙ',
       'АО ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - Ю', 'АО ЯМАЛО-НЕНЕЦКИЙ',
       'АОБЛ ЕВРЕЙСКАЯ', 'АРХАНГЕЛЬСКАЯ', 'АРХАНГЕЛЬСКАЯ ОБЛ',
       'АРХАНГЕЛЬСКАЯ ОБЛАСТЬ', 'АСТРАХАНСКАЯ', 'АСТРАХАНСКАЯ ОБЛ',
       'АСТРАХАНСКАЯ ОБЛАСТЬ', 'БАШКОРТОСТАН', 'БАШКОРТОСТАН РЕСП',
       'БЕЛГОРОДСКАЯ ОБЛ', 'БЕЛГОРОДСКАЯ ОБЛАСТЬ', 'БРЯНСКАЯ ОБЛ',
       'БРЯНСКАЯ ОБЛАСТЬ', 'БРЯНСКИЙ', 'БУРЯТИЯ', 'БУРЯТИЯ РЕСП',
       'ВЛАДИМИРСКАЯ ОБЛ', 'ВЛАДИМИРСКАЯ ОБЛАСТЬ', 'ВОЛГОГРАДСКАЯ ОБЛ',
       'ВОЛГОГРАДСКАЯ ОБЛАСТЬ', 'ВОЛОГОДСКАЯ', 'ВОЛОГОДСКАЯ ОБЛ',
       'ВОЛОГОДСКАЯ ОБЛ.', 'ВОЛОГОДСКАЯ ОБЛАСТЬ', 'ВОРОНЕЖСКАЯ ОБЛ',
       'ВОРОНЕЖСКАЯ ОБЛАСТЬ', 'Г МОСКВА', 'Г. МОСКВА',
       'Г. САНКТ-ПЕТЕРБУРГ', 'Г.МОСКВА', 'ГОРЬКОВСКАЯ ОБЛ',
       'ГУСЬ-ХРУСТАЛЬНЫЙ Р-Н', 'ДАГЕСТАН РЕСП', 'ЕВРЕЙСКАЯ АВТОНОМНАЯ',
       'ЕВРЕЙСКАЯ АОБЛ', 'ЗАБАЙКАЛЬСКИЙ КРАЙ', 'ИВАНОВСКАЯ ОБЛ',
       'ИВАНОВСКАЯ ОБЛАСТЬ', 'ИНГУШЕТИЯ РЕСП', 'ИРКУТСКАЯ ОБЛ',
       'ИРКУТСКАЯ ОБЛАСТЬ', 'КАБАРДИНО-БАЛКАРСКАЯ',
       'КАБАРДИНО-БАЛКАРСКАЯ РЕСП', 'КАЛИНИНГРАДСКАЯ ОБЛ',
       'КАЛИНИНГРАДСКАЯ ОБЛ.', 'КАЛМЫКИЯ', 'КАЛМЫКИЯ РЕСП', 'КАЛУЖСКАЯ',
       'КАЛУЖСКАЯ ОБЛ', 'КАЛУЖСКАЯ ОБЛАСТЬ', 'КАМЧАТСКАЯ ОБЛАСТЬ',
       'КАМЧАТСКИЙ КРАЙ', 'КАРАЧАЕВО-ЧЕРКЕССКАЯ РЕСП', 'КАРЕЛИЯ',
       'КАРЕЛИЯ РЕСП', 'КЕМЕРОВСКАЯ ОБЛ', 'КЕМЕРОВСКАЯ ОБЛАСТЬ',
       'КИРОВСКАЯ ОБЛ', 'КИРОВСКАЯ ОБЛАСТЬ', 'КОМИ', 'КОМИ РЕСП',
       'КОСТРОМСКАЯ ОБЛ', 'КОСТРОМСКАЯ ОБЛАСТЬ', 'КРАЙ АЛТАЙСКИЙ',
       'КРАЙ ЗАБАЙКАЛЬСКИЙ', 'КРАЙ КАМЧАТСКИЙ', 'КРАЙ КРАСНОДАРСКИЙ',
       'КРАЙ КРАСНОЯРСКИЙ', 'КРАЙ ПЕРМСКИЙ', 'КРАЙ ПРИМОРСКИЙ',
       'КРАЙ СТАВРОПОЛЬСКИЙ', 'КРАЙ ХАБАРОВСКИЙ', 'КРАЙ. КРАСНОЯРСКИЙ',
       'КРАЙ. ПЕРМСКИЙ', 'КРАЙ. СТАВРОПОЛЬСКИЙ', 'КРАСНОДАРСКИЙ',
       'КРАСНОДАРСКИЙ КРАЙ', 'КРАСНОЯРСКИЙ КРАЙ', 'КУРГАНСКАЯ ОБЛ',
       'КУРГАНСКАЯ ОБЛАСТЬ', 'КУРСКАЯ ОБЛ', 'КУРСКАЯ ОБЛАСТЬ',
       'ЛЕНИНГРАДСКАЯ', 'ЛЕНИНГРАДСКАЯ ОБЛ', 'ЛЕНИНГРАДСКАЯ ОБЛАСТЬ',
       'ЛИПЕЦКАЯ ОБЛ', 'ЛИПЕЦКАЯ ОБЛАСТЬ', 'МАГАДАНСКАЯ ОБЛАСТЬ',
       'МАРИЙ ЭЛ РЕСП', 'МОРДОВИЯ РЕСП', 'МОСКВА', 'МОСКВА Г',
       'МОСКОВСКАЯ', 'МОСКОВСКАЯ ОБЛ', 'МОСКОВСКАЯ ОБЛАСТЬ',
       'МУРМАНСКАЯ ОБЛ', 'МУРМАНСКАЯ ОБЛАСТЬ', 'МЫТИЩИНСКИЙ Р-Н',
       'НЕНЕЦКИЙ АО', 'НИЖЕГОРОДСКАЯ ОБЛ', 'НИЖЕГОРОДСКАЯ ОБЛАСТЬ',
       'НОВГОРОДСКАЯ ОБЛ', 'НОВГОРОДСКАЯ ОБЛАСТЬ', 'НОВОСИБИРСКАЯ',
       'НОВОСИБИРСКАЯ ОБЛ', 'НОВОСИБИРСКАЯ ОБЛАСТЬ', 'ОБЛ АМУРСКАЯ',
       'ОБЛ АРХАНГЕЛЬСКАЯ', 'ОБЛ АСТРАХАНСКАЯ', 'ОБЛ БЕЛГОРОДСКАЯ',
       'ОБЛ БРЯНСКАЯ', 'ОБЛ ВЛАДИМИРСКАЯ', 'ОБЛ ВОЛГОГРАДСКАЯ',
       'ОБЛ ВОЛОГОДСКАЯ', 'ОБЛ ВОРОНЕЖСКАЯ', 'ОБЛ ИВАНОВСКАЯ',
       'ОБЛ ИРКУТСКАЯ', 'ОБЛ КАЛИНИНГРАДСКАЯ', 'ОБЛ КАЛУЖСКАЯ',
       'ОБЛ КЕМЕРОВСКАЯ', 'ОБЛ КИРОВСКАЯ', 'ОБЛ КОСТРОМСКАЯ',
       'ОБЛ КУРГАНСКАЯ', 'ОБЛ КУРСКАЯ', 'ОБЛ ЛЕНИНГРАДСКАЯ',
       'ОБЛ ЛИПЕЦКАЯ', 'ОБЛ МАГАДАНСКАЯ', 'ОБЛ МОСКОВСКАЯ',
       'ОБЛ МУРМАНСКАЯ', 'ОБЛ НИЖЕГОРОДСКАЯ', 'ОБЛ НОВГОРОДСКАЯ',
       'ОБЛ НОВОСИБИРСКАЯ', 'ОБЛ ОМСКАЯ', 'ОБЛ ОРЕНБУРГСКАЯ',
       'ОБЛ ОРЛОВСКАЯ', 'ОБЛ ПЕНЗЕНСКАЯ', 'ОБЛ ПСКОВСКАЯ',
       'ОБЛ РОСТОВСКАЯ', 'ОБЛ РЯЗАНСКАЯ', 'ОБЛ САМАРСКАЯ',
       'ОБЛ САРАТОВСКАЯ', 'ОБЛ САХАЛИНСКАЯ', 'ОБЛ СВЕРДЛОВСКАЯ',
       'ОБЛ СМОЛЕНСКАЯ', 'ОБЛ ТАМБОВСКАЯ', 'ОБЛ ТВЕРСКАЯ', 'ОБЛ ТОМСКАЯ',
       'ОБЛ ТУЛЬСКАЯ', 'ОБЛ ТЮМЕНСКАЯ', 'ОБЛ УЛЬЯНОВСКАЯ',
       'ОБЛ ЧЕЛЯБИНСКАЯ', 'ОБЛ ЯРОСЛАВСКАЯ', 'ОБЛ. ВЛАДИМИРСКАЯ',
       'ОБЛ. КУРГАНСКАЯ', 'ОБЛ. СВЕРДЛОВСКАЯ', 'ОБЛ.НИЖЕГОРОДСКАЯ',
       'ОБЛ.РОСТОВСКАЯ', 'ОБЛ.САРАТОВСКАЯ', 'ОМСКАЯ', 'ОМСКАЯ ОБЛ',
       'ОМСКАЯ ОБЛАСТЬ', 'ОРЁЛ', 'ОРЕНБУРГСКАЯ ОБЛ',
       'ОРЕНБУРГСКАЯ ОБЛАСТЬ', 'ОРЛОВСКАЯ ОБЛ', 'ОРЛОВСКАЯ ОБЛАСТЬ',
       'ПЕНЗЕНСКАЯ ОБЛ', 'ПЕНЗЕНСКАЯ ОБЛАСТЬ', 'ПЕРМСКАЯ ОБЛ', 'ПЕРМСКИЙ',
       'ПЕРМСКИЙ КРАЙ', 'ПРИВОЛЖСКИЙ ФЕДЕРАЛЬНЫЙ ОКРУГ',
       'ПРИМОРСКИЙ КРАЙ', 'ПСКОВСКАЯ ОБЛ', 'ПСКОВСКАЯ ОБЛАСТЬ',
       'РЕСП АДЫГЕЯ', 'РЕСП АЛТАЙ', 'РЕСП БАШКОРТОСТАН', 'РЕСП БУРЯТИЯ',
       'РЕСП ДАГЕСТАН', 'РЕСП ИНГУШЕТИЯ', 'РЕСП КАБАРДИНО-БАЛКАРСКАЯ',
       'РЕСП КАЛМЫКИЯ', 'РЕСП КАРАЧАЕВО-ЧЕРКЕССКАЯ', 'РЕСП КАРЕЛИЯ',
       'РЕСП КОМИ', 'РЕСП МАРИЙ ЭЛ', 'РЕСП МОРДОВИЯ',
       'РЕСП САХА /ЯКУТИЯ/', 'РЕСП СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ',
       'РЕСП ТАТАРСТАН', 'РЕСП ТЫВА', 'РЕСП УДМУРТСКАЯ', 'РЕСП ХАКАСИЯ',
       'РЕСП ЧЕЧЕНСКАЯ', 'РЕСП ЧУВАШСКАЯ - ЧУВАШИЯ', 'РЕСП. БАШКОРТОСТАН',
       'РЕСП. КОМИ', 'РЕСП. САХА (ЯКУТИЯ)', 'РЕСП.БАШКОРТОСТАН',
       'РЕСПУБЛИКА АДЫГЕЯ', 'РЕСПУБЛИКА АЛТАЙ', 'РЕСПУБЛИКА БУРЯТИЯ',
       'РЕСПУБЛИКА ДАГЕСТАН', 'РЕСПУБЛИКА КАЛМЫКИЯ', 'РЕСПУБЛИКА КАРЕЛИЯ',
       'РЕСПУБЛИКА КОМИ', 'РЕСПУБЛИКА МАРИЙ ЭЛ', 'РЕСПУБЛИКА МОРДОВИЯ',
       'РЕСПУБЛИКА ТАТАРСТАН', 'РЕСПУБЛИКА ТЫВА', 'РЕСПУБЛИКАТАТАРСТАН',
       'РОССИЯ', 'РОСТОВСКАЯ', 'РОСТОВСКАЯ ОБЛ', 'РОСТОВСКАЯ ОБЛАСТЬ',
       'РЯЗАНСКАЯ ОБЛ', 'РЯЗАНСКАЯ ОБЛАСТЬ', 'САМАРСКАЯ', 'САМАРСКАЯ ОБЛ',
       'САМАРСКАЯ ОБЛАСТЬ', 'САНКТ-ПЕТЕРБУРГ', 'САНКТ-ПЕТЕРБУРГ Г',
       'САРАТОВСКАЯ ОБЛ', 'САРАТОВСКАЯ ОБЛАСТЬ', 'САХА /ЯКУТИЯ/',
       'САХА /ЯКУТИЯ/ РЕСП', 'САХАЛИНСКАЯ ОБЛ', 'САХАЛИНСКАЯ ОБЛАСТЬ',
       'СВЕРДЛОВСКАЯ', 'СВЕРДЛОВСКАЯ ОБЛ', 'СВЕРДЛОВСКАЯ ОБЛАСТЬ',
       'СЕВ. ОСЕТИЯ - АЛАНИЯ', 'СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ РЕСП',
       'СМОЛЕНСКАЯ ОБЛ', 'СМОЛЕНСКАЯ ОБЛАСТЬ', 'СТАВРОПОЛЬСКИЙ',
       'СТАВРОПОЛЬСКИЙ КРАЙ', 'ТАМБОВСКАЯ ОБЛ', 'ТАМБОВСКАЯ ОБЛАСТЬ',
       'ТАТАРСТАН РЕСП', 'ТВЕРСКАЯ ОБЛ', 'ТВЕРСКАЯ ОБЛАСТЬ', 'ТОМСКАЯ',
       'ТОМСКАЯ ОБЛ', 'ТОМСКАЯ ОБЛАСТЬ', 'ТУЛЬСКАЯ ОБЛ',
       'ТУЛЬСКАЯ ОБЛАСТЬ', 'ТЫВА РЕСП', 'ТЮМЕНСКАЯ', 'ТЮМЕНСКАЯ ОБЛ',
       'ТЮМЕНСКАЯ ОБЛАСТЬ', 'УДМУРТСКАЯ РЕСП', 'УДМУРТСКАЯ РЕСПУБЛИКА',
       'УЛЬЯНОВСКАЯ ОБЛ', 'УЛЬЯНОВСКАЯ ОБЛАСТЬ', 'ХАБАРОВСКИЙ КРАЙ',
       'ХАКАСИЯ', 'ХАКАСИЯ РЕСП',
       'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА', 'ХАНТЫ-МАНСИЙСКИЙ АО',
       'ЧЕЛЯБИНСКАЯ ОБЛ', 'ЧЕЛЯБИНСКАЯ ОБЛАСТЬ', 'ЧЕЧЕНСКАЯ РЕСП',
       'ЧЕЧЕНСКАЯ РЕСПУБЛИКА', 'ЧИТИНСКАЯ ОБЛ',
       'ЧУВАШИЯ ЧУВАШСКАЯ РЕСПУБЛИКА -', 'ЧУВАШСКАЯ - ЧУВАШИЯ РЕСП',
       'ЧУВАШСКАЯ РЕСП', 'ЧУВАШСКАЯ РЕСПУБЛИКА',
       'ЧУВАШСКАЯ РЕСПУБЛИКА - ЧУВАШИЯ', 'ЧУКОТСКИЙ АО',
       'ЯМАЛО-НЕНЕЦКИЙ АО', 'ЯРОСЛАВСКАЯ ОБЛ', 'ЯРОСЛАВСКАЯ ОБЛАСТЬ'],
      dtype=object)

In [114]:
import re
def clean_place_name(name):
    patterns = [
        r'^((г|д|п|с|гор|р-н|дер|пос|обл|об|кр|окр|респ|ао|аобл|аокр)\.\s*|(г|д|п|с|гор|р-н|дер|пос|обл|об|кр|окр|респ|ао|аобл|аокрс)\s+)',   # г., г, гор., гор
        #r'^гор\.?\s*',         # гор., гор
        r'(\s+|^)(город|поселок|деревня|село|район|область|край|республика|округ)\.?\s*',          # город
        r'^пгт\.?\s*',         # пгт., пгт
        r'^г\.о\.?\s*',        # г.о., го
        r'^м\.о\.?\s*',        # м.о., мо
        r'муниципальный|муниципальная|автономный|автономная|городской|городского|федеральный|федеральная',  # муниципальный район
        r'(\s+|^)[а-я]\.\s+',
        r'\s+[а-я]\.\s*$',
        r'(^|\s+)([а-я]\.)+',
        r'\s+[а-я]$',
        r'\s+(город|поселок|деревня|село|район|область|край|республика|округ|г|д|п|с|гор|р-н|дер|пос|обл|об|кр|окр|респ|ао|аобл|аокр)\.*$',
    ]
    
    # Объединяем все паттерны через |
    full_pattern = '|'.join(patterns)
    
    # Удаляем приписку из начала строки
    cleaned = re.sub(full_pattern, '', name, flags=re.IGNORECASE)
    
    return cleaned.strip()

In [ ]:
def tokenize_living_region(data_row):
    row = data_row.copy()
    places = np.unique(row.dropna())
    cleaned_places = [clean_place_name(place) for place in places]
    cleaned_places = [re.sub(r'([^а-яё0-9]|\s+)|((ая|ий|ый)$)', '', place, flags=re.IGNORECASE) for place in cleaned_places]

    hard_names=['ХАНТЫМАНСИЙСК', 'ЧУВАШ', 'АЛАНИЯ', 'ЯКУТИЯ']
    for i, place in enumerate(row):
        for name in hard_names:
            if name in place:
                row[i]=name
    return row

tokenize_living_region(train_data['living_region'])

In [ ]:
def tokenize_living_region(data):
    data = data.copy()
    HARD_NAMES = {'ХАНТЫМАНСИЙСК', 'ЧУВАШ', 'АЛАНИЯ', 'ЯКУТИЯ'}

    unique_values = data['living_region'].dropna().unique()
    
    mapping = {}
    for value in unique_values:
        cleaned = clean_place_name(value)
        cleaned = re.sub(r'[^а-яё0-9]+|(ая|ий|ый)$', '', cleaned, flags=re.IGNORECASE)
        
        cleaned_upper = cleaned.upper()
        simplified = next(
            (hard for hard in HARD_NAMES if hard in cleaned_upper),
            cleaned
        )
        
        mapping[value] = simplified
        
    data['living_region'] = data['living_region'].map(mapping).fillna(data['living_region'])
    
    # Статистика
    print(f"Уникальных значений до: {len(unique_values)}")
    print(f"Уникальных значений после: {data['living_region'].nunique()}")
    
    return data

train_data1 = tokenize_living_region(train_data)
np.unique(train_data1['living_region'].dropna(), return_counts=True)

Уникальных значений до: 287
Уникальных значений после: 92

(array(['74', '98', 'АДЫГЕЯ', 'АЛАНИЯ', 'АЛТАЙ', 'АЛТАЙСК', 'АМУРСК',
        'АРХАНГЕЛЬСК', 'АСТРАХАНСК', 'БАШКОРТОСТАН', 'БЕЛГОРОДСК',
        'БРЯНСК', 'БУРЯТИЯ', 'ВЛАДИМИРСК', 'ВОЛГОГРАДСК', 'ВОЛОГОДСК',
        'ВОРОНЕЖСК', 'ГОРЬКОВСК', 'ГУСЬХРУСТАЛЬН', 'ДАГЕСТАН', 'ЕВРЕЙСК',
        'ЗАБАЙКАЛЬСК', 'ИВАНОВСК', 'ИНГУШЕТИЯ', 'ИРКУТСК',
        'КАБАРДИНОБАЛКАРСК', 'КАЛИНИНГРАДСК', 'КАЛМЫКИЯ', 'КАЛУЖСК',
        'КАМЧАТСК', 'КАРАЧАЕВОЧЕРКЕССК', 'КАРЕЛИЯ', 'КЕМЕРОВСК', 'КИРОВСК',
        'КОМИ', 'КОСТРОМСК', 'КРАСНОДАРСК', 'КРАСНОЯРСК', 'КУРГАНСК',
        'КУРСК', 'ЛЕНИНГРАДСК', 'ЛИПЕЦК', 'МАГАДАНСК', 'МАРИЙЭЛ',
        'МОРДОВИЯ', 'МОСКВА', 'МОСКОВСК', 'МУРМАНСК', 'МЫТИЩИНСК',
        'НЕНЕЦК', 'НИЖЕГОРОДСК', 'НОВГОРОДСК', 'НОВОСИБИРСК', 'ОМСК',
        'ОРЁЛ', 'ОРЕНБУРГСК', 'ОРЛОВСК', 'ПЕНЗЕНСК', 'ПЕРМСК', 'ПРИВОЛЖСК',
        'ПРИМОРСК', 'ПСКОВСК', 'РОССИЯ', 'РОСТОВСК', 'РЯЗАНСК', 'САМАРСК',
        'САНКТПЕТЕРБУРГ', 'САРАТОВСК', 'САХАЛИНСК', 'СВЕРДЛОВСК',
        'СМОЛЕНСК', 'СТАВРОПОЛЬСК', 'ТАМБОВСК', 'ТАТАРСТАН', 'ТВЕРСК',
        'ТОМСК', 'ТУЛЬСК', 'ТЫВА', 'ТЮМЕНСК', 'УДМУРТСК', 'УЛЬЯНОВСК',
        'ХАБАРОВСК', 'ХАКАСИЯ', 'ХАНТЫМАНСИЙСК', 'ЧЕЛЯБИНСК', 'ЧЕЧЕНСК',
        'ЧИТИНСК', 'ЧУВАШ', 'ЧУКОТСК', 'ЯКУТИЯ', 'ЯМАЛОНЕНЕЦК',
        'ЯРОСЛАВСК'], dtype=object),
 array([   1,    1,  399,  261,   35,  383,  604, 1228, 1900, 4487,  539,
         557, 1147, 1117, 1630, 1823, 1188,   16,    1,   49,  139,  909,
         674,   17, 3026,  461,  512,  203,  796,  280,  424,  472, 2030,
         444, 1317,  379, 5798, 2211,  947,  885, 2403,  598,  107,  496,
         497, 6391, 8992,  941,    1,  113, 2591,  528, 1534,  663,    1,
         911,  534,  659, 2571,    1,  894,  408,    1, 3000,  512, 3586,
        5857, 1632,  483, 5093,  709, 3233,  779, 5372, 1077,  435,  954,
         396, 1708,  752,  664, 1082,  338, 3009, 3609,   21,    8,  662,
          21, 1282, 1343,  643]))

In [142]:
tokenize_living_region(train_data)
np.unique(train_data['living_region'].dropna(), return_counts=True)

/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['living_region'][i]=name
/var/folders/9x/b72tqnnn0tx00794grvlm5hm0000gn/T/ipykernel_41138/2246095188.py:11: SettingWithCopyWarning:

TypeError: argument of type 'float' is not iterable

In [ ]:
with open('places.txt', 'w', encoding='utf-8') as file:
    for i in range(len(places)):
        file.write(f"{places[i]} -> {cleaned_places[i]}\n")

Можно скачать таблицу номеров регионов и добавить предобработку номеров

Также можно токенизировать полученные названия

Какие проблемы тут есть или могут возникнуть:

- Один и тот же регион написан по-разному;
- Есть регионы, которые встречаются очень редко; (Можно объединить категории которые встречаются очень редко в одну категорию)
- Возможны два типа ситуаций:
    - Какой-то регион есть в тренировочных данных, но его нет в тестовых;
    - Какой-то регион есть в тестовых данных, но его нет в тренировочных.

Также из этого признака можно создать новые признаки:
- какие?

**Задание**: обработайте признак living_region. Не забудьте, что в тестовых данных вам нужно будет обработать этот признак в той же манере, что и в тренировочных данных.

### Создание новых признаков

#### Ручное создание новых признаков

In [ ]:
train_data.head()

Часто на основе имеющихся признаков можно создавать новые. Какие новые признаки приходят на ум для нашего датасета?

#### Автоматическое создание новых признаков

Помогут [PolynomialFeatures](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html) из sklearn

Генерируем кучу признаков. Обучаем слабую модель на всех этих признаках, смотрим какие признаки имеют наибольший смысл, и отбрасываем лишние.

In [ ]:
numeric_columns.remove('tariff_id')

In [ ]:
train_data[numeric_columns]

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
# сначала нужно заполнить пропуски в данных
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(train_data[numeric_columns])
X_test_poly = poly.fit_transform(test_data[numeric_columns])

In [ ]:
print("\nПолиномиальные признаки (x, x²):\n", X_poly)

In [ ]:
print("\nНазвания признаков:", poly.get_feature_names_out(numeric_columns))

In [ ]:
train_data[numeric_columns]

In [ ]:
X_poly.shape

### Фильтрация признаков

Помогут [SequentialFeatureSelector](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SequentialFeatureSelector.html#sklearn.feature_selection.SequentialFeatureSelector), [SelectFromModel](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFromModel.html#sklearn.feature_selection.SelectFromModel) и другие классы из модуля [feature_selection](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.feature_selection) sklearn.

TODO: сделать фильтрацию признаков

## Обработка тестовых данных

In [ ]:
test_data.head()

Заполнение пропусков в данных:

In [ ]:
test_data['credit_count'] = simple_imputer.transform(test_data[['credit_count']])
transformed_test_data = knn_imputer.transform(test_data[numeric_columns])[:, 8]
test_data['overdue_credit_count'] = transformed_test_data

Вспомним теперь, что в тестовых данных также есть пропуск в колонке monthly_income.

**Задание**: заполните пропуск в monthly_income в тестовых данных TODO

Обработка категориальных признаков:

In [ ]:
new_category_columns_test = ohe.transform(test_data[categorical_columns])
new_test_columns = pd.DataFrame(new_category_columns_test, columns=ohe.get_feature_names_out())
test_data = test_data.drop(columns=categorical_columns)
test_data = pd.concat([test_data, new_test_columns], axis=1)
test_data.head()

И еще остается отдельный признак living_region.

**Задание**: предобработайте признак living_region TODO

## Обучение и подбор параметров модели

**Задание**: обучите модель машинного обучения на тренировочных данных и подберите гиперпараметры.

Вопрос: когда нужно делить данные на train/val? До или после предобработки признаков тренировочного датасета?

Обратите внимание, что метрика качества в [контесте на Kaggle](https://www.kaggle.com/competitions/bank-issues-042022/leaderboard) для этой задачи — ROC AUC

## Получение предсказаний на тестовых данных

**Задание**: получите предсказания модели на тестовых данных test_data. Полученное предсказание отправьте в [контест на Kaggle](https://www.kaggle.com/competitions/bank-issues-042022/leaderboard)